In [1]:
# !pip install mysql-connector-python
# !pip install pymysql
# !pip show mysql-connector-python

#  <font color='#6833FF'> Connect to DataBase</font>

In [2]:
# import mysql.connector
import pandas as pd
import mysql.connector
from mysql.connector import Error

In [3]:
try:
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password="010Da010@",
        database="Space",
        autocommit=False
    )
    print("Successfully connected to the database")
except mysql.connector.Error as error:
    print(f"Error connecting to the database: {error}")

Successfully connected to the database

In [4]:
# raise Exception

#  <font color='#6833FF'> Buisness Questions</font>

 ### **❓Launch Success Rate**

In [5]:
# Overall success rate of SpaceX launches:
query = """
SELECT 
    COUNT(*) AS total_launches,
    SUM(success) AS successful_launches,
    (SUM(success) / COUNT(*)) * 100 AS success_rate
FROM cleaned_data;
"""

try:
    cursor = connection.cursor()
    cursor.execute(query)  # Execute the SQL query
    result = cursor.fetchone()  # Fetch the result
    print(f"Total Launches: {result[0]}, Successful Launches: {result[1]}, Success Rate: {result[2]:.2f}%")
except Error as e:
    print(f"Error executing query: {e}")

Total Launches: 234, Successful Launches: 228, Success Rate: 97.44%

In [6]:
# Success rate by rocket type:
query = """
SELECT 
    rocket,
    COUNT(*) AS total_launches,
    SUM(success) AS successful_launches,
    (SUM(success) / COUNT(*)) * 100 AS success_rate
FROM cleaned_data
GROUP BY rocket;
"""

try:
    cursor = connection.cursor()
    cursor.execute(query)  # Execute the SQL query
    results = cursor.fetchall()  # Fetch all results

    for row in results:
        rocket, total_launches, successful_launches, success_rate = row
        print(f"Rocket: {rocket}, Total Launches: {total_launches}, Successful Launches: {successful_launches}, Success Rate: {success_rate:.2f}%")
except Error as e:
    print(f"Error executing query: {e}")

Rocket: 5e9d0d95eda69955f709d1eb, Total Launches: 6, Successful Launches: 2, Success Rate: 33.33%
Rocket: 5e9d0d95eda69973a809d1ec, Total Launches: 208, Successful Launches: 206, Success Rate: 99.04%
Rocket: 5e9d0d95eda69974db09d1ed, Total Launches: 20, Successful Launches: 20, Success Rate: 100.00%

In [7]:
# # Success rate by rocket type:

# query = """
# SELECT 
#     rocket,
#     COUNT(*) AS total_launches,
#     SUM(success) AS successful_launches,
#     (SUM(success) / COUNT(*)) * 100 AS success_rate
# FROM cleaned_data
# GROUP BY rocket;
# """

# try:
#     cursor = connection.cursor()  # Create a cursor object
#     cursor.execute(query)  # Execute the SQL query
#     results = cursor.fetchall()  # Fetch all rows from the query result
    
#     # Print the results
#     for row in results:
#         rocket = row[0]
#         total_launches = row[1]
#         successful_launches = row[2]
#         success_rate = row[3]
#         print(f"Rocket: {rocket}, Total Launches: {total_launches}, Successful Launches: {successful_launches}, Success Rate: {success_rate:.2f}%")

# except mysql.connector.Error as e:
#     print(f"Error executing query: {e}")

Rocket: 5e9d0d95eda69955f709d1eb, Total Launches: 6, Successful Launches: 2, Success Rate: 33.33%
Rocket: 5e9d0d95eda69973a809d1ec, Total Launches: 208, Successful Launches: 206, Success Rate: 99.04%
Rocket: 5e9d0d95eda69974db09d1ed, Total Launches: 20, Successful Launches: 20, Success Rate: 100.00%

 ### **❓Payload Analysis**

In [8]:
# SQL query to find the most common types of payloads launched
query = """
SELECT 
    name_payload, 
    COUNT(*) AS launch_count
FROM cleaned_data
GROUP BY name_payload
ORDER BY launch_count DESC;
"""

try:
    cursor = connection.cursor()  # Create a cursor object
    cursor.execute(query)  # Execute the SQL query
    results = cursor.fetchall()  # Fetch all rows from the query result
    
    # Print the results or process them further
    print("Most Common Types of Payloads Launched:")
    for row in results:
        print(f"Payload Name: {row[0]}, Launch Count: {row[1]}")
    
except Error as e:
    print(f"Error executing query: {e}")

Most Common Types of Payloads Launched:
Payload Name: Unknown, Launch Count: 12
Payload Name: NROL-87, Launch Count: 2
Payload Name: O3b mPower 1,2, Launch Count: 2
Payload Name: FalconSAT-2, Launch Count: 1
Payload Name: DemoSAT, Launch Count: 1
Payload Name: Trailblazer, Launch Count: 1
Payload Name: PRESat, Launch Count: 1
Payload Name: RatSat, Launch Count: 1
Payload Name: RazakSAT, Launch Count: 1
Payload Name: Dragon Qualification Unit, Launch Count: 1
Payload Name: COTS Demo Flight 1, Launch Count: 1
Payload Name: Cubesats, Launch Count: 1
Payload Name: COTS Demo Flight 2, Launch Count: 1
Payload Name: CRS-1, Launch Count: 1
Payload Name: Orbcomm-OG2, Launch Count: 1
Payload Name: CRS-2, Launch Count: 1
Payload Name: CASSIOPE, Launch Count: 1
Payload Name: SES-8, Launch Count: 1
Payload Name: Thaicom 6, Launch Count: 1
Payload Name: CRS-3, Launch Count: 1
Payload Name: Orbcomm-OG2-M1, Launch Count: 1
Payload Name: AsiaSat 8, Launch Count: 1
Payload Name: AsiaSat 6, Launch Count: 1
Payload Name: CRS-4, Launch Count: 1
Payload Name: CRS-5, Launch Count: 1
Payload Name: DSCOVR, Launch Count: 1
Payload Name: ABS-3A, Launch Count: 1
Payload Name: Eutelsat 115 West B, Launch Count: 1
Payload Name: CRS-6, Launch Count: 1
Payload Name: TürkmenÄlem 52°E / MonacoSAT, Launch Count: 1
Payload Name: CRS-7, Launch Count: 1
Payload Name: Orbcomm-OG2-M2, Launch Count: 1
Payload Name: Jason-3, Launch Count: 1
Payload Name: SES-9, Launch Count: 1
Payload Name: CRS-8, Launch Count: 1
Payload Name: JCSAT-2B, Launch Count: 1
Payload Name: Thaicom 8, Launch Count: 1
Payload Name: ABS-2A, Launch Count: 1
Payload Name: Eutelsat 117 West B, Launch Count: 1
Payload Name: CRS-9, Launch Count: 1
Payload Name: JCSAT-16, Launch Count: 1
Payload Name: Amos-6, Launch Count: 1
Payload Name: Iridium NEXT 1, Launch Count: 1
Payload Name: CRS-10, Launch Count: 1
Payload Name: EchoStar 23, Launch Count: 1
Payload Name: SES-10, Launch Count: 1
Payload Name: NROL-76, Launch Count: 1
Payload Name: Inmarsat-5 F4, Launch Count: 1
Payload Name: CRS-11, Launch Count: 1
Payload Name: BulgariaSat-1, Launch Count: 1
Payload Name: Iridium NEXT 2, Launch Count: 1
Payload Name: Intelsat 35e, Launch Count: 1
Payload Name: CRS-12, Launch Count: 1
Payload Name: FormoSat-5, Launch Count: 1
Payload Name: X-37B OTV-5, Launch Count: 1
Payload Name: Iridium NEXT 3, Launch Count: 1
Payload Name: SES-11 / Echostar 105, Launch Count: 1
Payload Name: KoreaSat 5A, Launch Count: 1
Payload Name: CRS-13, Launch Count: 1
Payload Name: Iridium NEXT 4, Launch Count: 1
Payload Name: ZUMA, Launch Count: 1
Payload Name: GovSat-1, Launch Count: 1
Payload Name: Tesla Roadster, Launch Count: 1
Payload Name: Paz, Launch Count: 1
Payload Name: Tintin A & B, Launch Count: 1
Payload Name: Hispasat 30W-6, Launch Count: 1
Payload Name: Iridium NEXT 5, Launch Count: 1
Payload Name: CRS-14, Launch Count: 1
Payload Name: TESS, Launch Count: 1
Payload Name: Bangabandhu-1, Launch Count: 1
Payload Name: Iridium NEXT 6, Launch Count: 1
Payload Name: GRACE-FO 1-2, Launch Count: 1
Payload Name: SES-12, Launch Count: 1
Payload Name: CRS-15, Launch Count: 1
Payload Name: Telstar 19V, Launch Count: 1
Payload Name: Iridium NEXT 7, Launch Count: 1
Payload Name: Telkom-4, Launch Count: 1
Payload Name: Telstar 18V, Launch Count: 1
Payload Name: SAOCOM 1A, Launch Count: 1
Payload Name: Es’hail 2, Launch Count: 1
Payload Name: SSO-A, Launch Count: 1
Payload Name: CRS-16, Launch Count: 1
Payload Name: GPS III SV01, Launch Count: 1
Payload Name: Iridium NEXT 8, Launch Count: 1
Payload Name: Nusantara Satu (PSN-6), Launch Count: 1
Payload Name: S5, Launch Count: 1
Payload Name: Beresheet, Launch Count: 1
Payload Name: CCtCap Demo Mission 1, Launch Count: 1
Payload Name: ArabSat 6A, Launch Count: 1
Payload Name: CRS-17, Launch Count: 1
Payload Name: Starlink v0.9, Launch Count: 1
Payload Name: RADARSAT Constellation, Launch Count: 1
Payload Name: DSX, Launch Count: 1
Payload Name: COSMIC-2, Launch Count: 1
Payload Name: GPIM, Launch Count: 1
Payload Name: Oculus-ASR, Launch Count: 1
Payload Name: OTB 1, Launch Count: 1
Payload Name: NPSAT 1, Launch Count: 1
Payload Name: Prox-1, Launch Count: 1
Payload Name: LightSail-B, Launch Count: 1
Payload Name: ARMADILLO, Launch Count: 1
Payload Name: FalconSat 7, Launch Count: 1
Payload Name: E-TBEx A & B, Launch Count: 1
Payload Name: PSat 2, Launch Count: 1
Payload Name: BRICSat 2, Launch Count: 1
Payload Name: TEPCE 1 & 2, Launch Count: 1
Payload Name: CP9, Launch Count: 1
Payload Name: StangSat, Launch Count: 1
Payload Name: CRS-18, Launch Count: 1
Payload Name: Amos-17, Launch Count: 1
Payload Name: Starlink-1, Launch Count: 1
Payload Name: CRS-19, Launch Count: 1
Payload Name: JCSat 18 / Kacific 1, Launch Count: 1
Payload Name: Starlink-2, Launch Count: 1
Payload Name: Crew Dragon In Flight Abort Test, Launch Count: 1
Payload Name: Starlink-3, Launch Count: 1
Payload Name: Starlink-4, Launch Count: 1
Payload Name: CRS-20, Launch Count: 1
Payload Name: Starlink-5, Launch Count: 1
Payload Name: Starlink-6, Launch Count: 1
Payload Name: CCtCap Demo Mission 2, Launch Count: 1
Payload Name: Starlink-7, Launch Count: 1
Payload Name: Starlink-8, Launch Count: 1
Payload Name: GPS III SV03 (Columbus), Launch Count: 1
Payload Name: ANASIS-II, Launch Count: 1
Payload Name: Starlink-9, Launch Count: 1
Payload Name: BlackSky Global 5-6, Launch Count: 1
Payload Name: Starlink-10, Launch Count: 1
Payload Name: SAOCOM 1B, Launch Count: 1
Payload Name: Starlink-11, Launch Count: 1
Payload Name: Starlink-12, Launch Count: 1
Payload Name: Starlink-13, Launch Count: 1
Payload Name: Starlink-14, Launch Count: 1
Payload Name: GPS III SV04 (Sacagawea), Launch Count: 1
Payload Name: Crew-1, Launch Count: 1
Payload Name: Sentinel-6 Michael Freilich, Launch Count: 1
Payload Name: Starlink-15, Launch Count: 1
Payload Name: CRS-21, Launch Count: 1
Payload Name: SXM-7, Launch Count: 1
Payload Name: NROL-108, Launch Count: 1
Payload Name: Turksat 5A, Launch Count: 1
Payload Name: Starlink-16, Launch Count: 1
Payload Name: Transporter-1, Launch Count: 1
Payload Name: Starlink-18, Launch Count: 1
Payload Name: Starlink-19, Launch Count: 1
Payload Name: Starlink-17, Launch Count: 1
Payload Name: Starlink-20, Launch Count: 1
Payload Name: Starlink-21, Launch Count: 1
Payload Name: Starlink-22, Launch Count: 1
Payload Name: Starlink-23, Launch Count: 1
Payload Name: Crew-2, Launch Count: 1
Payload Name: Starlink-24, Launch Count: 1
Payload Name: Starlink-25, Launch Count: 1
Payload Name: Starlink-27, Launch Count: 1
Payload Name: Starlink-26, Launch Count: 1
Payload Name: Capella-6, Launch Count: 1
Payload Name: Tyvak-0130, Launch Count: 1
Payload Name: Starlink-28, Launch Count: 1
Payload Name: CRS-22, Launch Count: 1
Payload Name: SXM-8, Launch Count: 1
Payload Name: GPS III SV05, Launch Count: 1
Payload Name: Transporter-2, Launch Count: 1
Payload Name: CRS-23, Launch Count: 1
Payload Name: Starlink 2-1 (v1.5), Launch Count: 1
Payload Name: Inspiration4, Launch Count: 1
Payload Name: Crew-3, Launch Count: 1
Payload Name: Starlink 4-1 (v1.5), Launch Count: 1
Payload Name: DART (Double Asteroid Redirection Test), Launch Count: 1
Payload Name: Starlink 4-3 (v1.5), Launch Count: 1
Payload Name: IPXE, Launch Count: 1
Payload Name: Starlink 4-4 (v1.5), Launch Count: 1
Payload Name: Türksat 5B, Launch Count: 1
Payload Name: CRS-24, Launch Count: 1
Payload Name: Starlink 4-5 (v1.5), Launch Count: 1
Payload Name: Starlink 4-6 (v1.5), Launch Count: 1
Payload Name: CSG-2, Launch Count: 1
Payload Name: Starlink 4-7 (v1.5), Launch Count: 1
Payload Name: Starlink 4-8 (v1.5), Launch Count: 1
Payload Name: Starlink 4-11 (v1.5), Launch Count: 1
Payload Name: Starlink 4-9 (v1.5), Launch Count: 1
Payload Name: Starlink 4-10 (v1.5), Launch Count: 1
Payload Name: Starlink 4-12 (v1.5), Launch Count: 1
Payload Name: Transporter-4, Launch Count: 1
Payload Name: Ax-1, Launch Count: 1
Payload Name: NROL-85, Launch Count: 1
Payload Name: Starlink 4-14 (v1.5), Launch Count: 1
Payload Name: Crew-4, Launch Count: 1
Payload Name: Starlink 4-16 (v1.5), Launch Count: 1
Payload Name: Starlink 4-17 (v1.5), Launch Count: 1
Payload Name: Starlink 4-13 (v1.5), Launch Count: 1
Payload Name: Starlink 4-15 (v1.5), Launch Count: 1
Payload Name: Starlink 4-18 (v1.5), Launch Count: 1
Payload Name: Transporter-5, Launch Count: 1
Payload Name: Nilesat-301, Launch Count: 1
Payload Name: Starlink 4-19 (v1.5), Launch Count: 1
Payload Name: SARah 1, Launch Count: 1
Payload Name: Globalstar FM15, Launch Count: 1
Payload Name: SES-22, Launch Count: 1
Payload Name: Starlink 4-21 (v1.5), Launch Count: 1
Payload Name: Starlink 3-1 (v1.5), Launch Count: 1
Payload Name: CRS-25, Launch Count: 1
Payload Name: Starlink 4-22 (v1.5), Launch Count: 1
Payload Name: Starlink 3-2 (v1.5), Launch Count: 1
Payload Name: Starlink 4-25 (v1.5), Launch Count: 1
Payload Name: KPLO, Launch Count: 1
Payload Name: Starlink 4-26 (v1.5), Launch Count: 1
Payload Name: Starlink 3-3 (v1.5), Launch Count: 1
Payload Name: Starlink 4-27 (v1.5), Launch Count: 1
Payload Name: Starlink 4-23 (v1.5), Launch Count: 1
Payload Name: Starlink 3-4 (v1.5), Launch Count: 1
Payload Name: Starlink 4-20 (v1.5), Launch Count: 1
Payload Name: Varuna-TDM, Launch Count: 1
Payload Name: Starlink 4-2 (v1.5), Launch Count: 1
Payload Name: BlueWalker 3, Launch Count: 1
Payload Name: Starlink 4-34 (v1.5), Launch Count: 1
Payload Name: Starlink 4-35 (v1.5), Launch Count: 1
Payload Name: Crew-5, Launch Count: 1
Payload Name: USSF-44, Launch Count: 1
Payload Name: Starlink 4-36 (v1.5), Launch Count: 1
Payload Name: TTL-1, Launch Count: 1
Payload Name: WorldView Legion 1 & 2, Launch Count: 1

In [9]:
# Mass of payloads affecting success rate:

# SQL query to analyze launches based on payload mass
query = """
SELECT 
    mass_kg, 
    COUNT(*) AS launch_count,
    SUM(success) AS successful_launches,
    (SUM(success) / NULLIF(COUNT(*), 0)) * 100 AS success_rate
FROM cleaned_data
GROUP BY mass_kg
ORDER BY mass_kg;
"""

try:
    cursor = connection.cursor()  # Create a cursor object
    cursor.execute(query)  # Execute the SQL query
    results = cursor.fetchall()  # Fetch all rows from the query result
    
    # Print the results or process them further
    print("Launch Analysis Based on Payload Mass:")
    for row in results:
        mass = row[0] if row[0] is not None else "N/A"  # Handle potential NULL mass values
        launch_count = row[1]
        successful_launches = row[2]
        success_rate = row[3] if row[3] is not None else 0.0  # Handle potential NULL success rates
        
        print(f"Mass (kg): {mass}, Launch Count: {launch_count}, Successful Launches: {successful_launches}, Success Rate: {success_rate:.2f}%")
    
except Error as e:
    print(f"Error executing query: {e}")

Launch Analysis Based on Payload Mass:
Mass (kg): 1.00, Launch Count: 2, Successful Launches: 2, Success Rate: 100.00%
Mass (kg): 1.50, Launch Count: 2, Successful Launches: 2, Success Rate: 100.00%
Mass (kg): 2.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 4.00, Launch Count: 2, Successful Launches: 2, Success Rate: 100.00%
Mass (kg): 5.00, Launch Count: 2, Successful Launches: 2, Success Rate: 100.00%
Mass (kg): 20.00, Launch Count: 1, Successful Launches: 0, Success Rate: 0.00%
Mass (kg): 60.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 70.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 71.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 86.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 112.00, Launch Count: 2, Successful Launches: 2, Success Rate: 100.00%
Mass (kg): 138.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 165.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 180.00, Launch Count: 2, Successful Launches: 2, Success Rate: 100.00%
Mass (kg): 200.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 330.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 350.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 400.00, Launch Count: 2, Successful Launches: 2, Success Rate: 100.00%
Mass (kg): 475.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 500.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 525.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 553.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 570.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 585.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 600.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 670.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 677.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 678.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 700.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 800.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 1160.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 1316.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 1350.00, Launch Count: 2, Successful Launches: 2, Success Rate: 100.00%
Mass (kg): 1425.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 1440.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 1500.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 1600.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 1668.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 1800.00, Launch Count: 2, Successful Launches: 2, Success Rate: 100.00%
Mass (kg): 1898.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 1954.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 1977.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 2034.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 2200.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 2205.00, Launch Count: 2, Successful Launches: 2, Success Rate: 100.00%
Mass (kg): 2216.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 2227.70, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 2240.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 2257.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 2296.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 2395.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 2410.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 2477.00, Launch Count: 1, Successful Launches: 0, Success Rate: 0.00%
Mass (kg): 2482.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 2490.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 2573.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 2708.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 2760.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 2800.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 2910.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 2972.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 3000.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 3100.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 3136.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 3170.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 3325.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 3328.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 3500.00, Launch Count: 3, Successful Launches: 3, Success Rate: 100.00%
Mass (kg): 3669.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 3681.00, Launch Count: 2, Successful Launches: 2, Success Rate: 100.00%
Mass (kg): 3700.00, Launch Count: 2, Successful Launches: 2, Success Rate: 100.00%
Mass (kg): 3750.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 3880.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 3938.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 4000.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 4230.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 4300.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 4400.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 4428.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 4535.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 4600.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 4696.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 4701.50, Launch Count: 42, Successful Launches: 39, Success Rate: 92.86%
Mass (kg): 4707.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 4990.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 5000.00, Launch Count: 2, Successful Launches: 2, Success Rate: 100.00%
Mass (kg): 5100.00, Launch Count: 2, Successful Launches: 2, Success Rate: 100.00%
Mass (kg): 5200.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 5271.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 5300.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 5383.85, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 5500.00, Launch Count: 1, Successful Launches: 0, Success Rate: 0.00%
Mass (kg): 5600.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 5800.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 6000.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 6070.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 6092.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 6500.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 6761.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 6800.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 7000.00, Launch Count: 2, Successful Launches: 2, Success Rate: 100.00%
Mass (kg): 7060.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 7076.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 9525.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 9600.00, Launch Count: 7, Successful Launches: 7, Success Rate: 100.00%
Mass (kg): 12259.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 12519.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 13200.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 13260.00, Launch Count: 33, Successful Launches: 33, Success Rate: 100.00%
Mass (kg): 13520.00, Launch Count: 1, Successful Launches: 1, Success Rate: 100.00%
Mass (kg): 15600.00, Launch Count: 28, Successful Launches: 28, Success Rate: 100.00%

 ### **❓Temporal Analysis**

In [10]:
# Number of launches by year:
# SQL query to count launches per year
query = """
SELECT 
    YEAR(date_utc) AS launch_year, 
    COUNT(*) AS launch_count
FROM cleaned_data
GROUP BY launch_year
ORDER BY launch_year;
"""

try:
    # Create a cursor object
    cursor = connection.cursor()  
    # Execute the SQL query
    cursor.execute(query)  
    # Fetch all rows from the query result
    results = cursor.fetchall()  
    
    # Print the results or process them further
    print("Launch Count by Year:")
    for row in results:
        launch_year = row[0]
        launch_count = row[1]
        print(f"Year: {launch_year}, Launch Count: {launch_count}")
    
except Error as e:
    # Print error message if query execution fails
    print(f"Error executing query: {e}")
finally:
    # Ensure the cursor is closed after execution
    if cursor:
        cursor.close()

Launch Count by Year:
Year: 2006, Launch Count: 1
Year: 2007, Launch Count: 1
Year: 2008, Launch Count: 3
Year: 2009, Launch Count: 1
Year: 2010, Launch Count: 3
Year: 2012, Launch Count: 3
Year: 2013, Launch Count: 3
Year: 2014, Launch Count: 6
Year: 2015, Launch Count: 8
Year: 2016, Launch Count: 10
Year: 2017, Launch Count: 18
Year: 2018, Launch Count: 23
Year: 2019, Launch Count: 30
Year: 2020, Launch Count: 27
Year: 2021, Launch Count: 33
Year: 2022, Launch Count: 64

In [11]:
# Launches per month:

# SQL query to count launches per month
query = """
SELECT 
    MONTH(date_utc) AS launch_month,
    COUNT(*) AS launch_count
FROM cleaned_data
GROUP BY launch_month
ORDER BY launch_month;
"""

try:
    # Create a cursor object
    cursor = connection.cursor()  
    # Execute the SQL query
    cursor.execute(query)  
    # Fetch all rows from the query result
    results = cursor.fetchall()  
    
    # Print the results or process them further
    print("Launch Count by Month:")
    for row in results:
        launch_month = row[0]  # Month (1-12)
        launch_count = row[1]   # Count of launches
        print(f"Month: {launch_month}, Launch Count: {launch_count}")
    
except Error as e:
    # Print error message if query execution fails
    print(f"Error executing query: {e}")
finally:
    # Ensure the cursor is closed after execution
    if cursor:
        cursor.close()

Launch Count by Month:
Month: 1, Launch Count: 17
Month: 2, Launch Count: 15
Month: 3, Launch Count: 20
Month: 4, Launch Count: 17
Month: 5, Launch Count: 22
Month: 6, Launch Count: 38
Month: 7, Launch Count: 14
Month: 8, Launch Count: 19
Month: 9, Launch Count: 16
Month: 10, Launch Count: 13
Month: 11, Launch Count: 18
Month: 12, Launch Count: 25

 ### **❓Customer Analysis**

In [12]:
# Main customers and their launch counts:

# SQL query to count launches by customers
query = """
SELECT 
    customers, 
    COUNT(*) AS launch_count
FROM cleaned_data
GROUP BY customers
ORDER BY launch_count DESC;
"""

try:
    # Create a cursor object
    cursor = connection.cursor()  
    # Execute the SQL query
    cursor.execute(query)  
    # Fetch all rows from the query result
    results = cursor.fetchall()  
    
    # Print the results or process them further
    print("Launch Count by Customers:")
    for row in results:
        customer = row[0]
        launch_count = row[1]
        print(f"Customer: {customer}, Launch Count: {launch_count}")
    
except Error as e:
    # Print error message if query execution fails
    print(f"Error executing query: {e}")
finally:
    # Ensure the cursor is closed after execution
    if cursor:
        cursor.close()

Launch Count by Customers:
Customer: SpaceX, Launch Count: 67
Customer: NASA (CRS), Launch Count: 25
Customer: Unknown, Launch Count: 12
Customer: Iridium Communications, Launch Count: 8
Customer: NASA (CCtCap), Launch Count: 8
Customer: SES, Launch Count: 7
Customer: NASA, Launch Count: 5
Customer: USAF, Launch Count: 5
Customer: , Launch Count: 4
Customer: Orbcomm, Launch Count: 3
Customer: Telesat, Launch Count: 2
Customer: CONAE, Launch Count: 2
Customer: NASA(COTS), Launch Count: 2
Customer: NRO, Launch Count: 2
Customer: DARPA, Launch Count: 2
Customer: Thaicom, Launch Count: 2
Customer: AsiaSat, Launch Count: 2
Customer: Spacecom, Launch Count: 2
Customer: ABS, Launch Count: 2
Customer: Eutelsat, Launch Count: 2
Customer: US Naval Academy, Launch Count: 2
Customer: SiriusXM, Launch Count: 2
Customer: Turksat, Launch Count: 2
Customer: National Reconnaissance Office, USAF, Launch Count: 2
Customer: SKY Perfect JCSAT Group, Launch Count: 1
Customer: EchoStar, Launch Count: 1
Customer: Inmarsat, Launch Count: 1
Customer: Bulgaria Sat, Launch Count: 1
Customer: Intelsat, Launch Count: 1
Customer: NSPO (Taiwan), Launch Count: 1
Customer: SES, Echostar, Launch Count: 1
Customer: KT Corporation, Launch Count: 1
Customer: Northrop Grumman, Launch Count: 1
Customer: GovSat, Launch Count: 1
Customer: HisdeSAT, Launch Count: 1
Customer: Hispasat, Launch Count: 1
Customer: Bangladesh Gov, Launch Count: 1
Customer: NASA, DLR, Launch Count: 1
Customer: Telkom, Launch Count: 1
Customer: Es’hailSat, Launch Count: 1
Customer: Spaceflight Industries, Inc, Launch Count: 1
Customer: Pasifik Satelit Nusantara, Launch Count: 1
Customer: Air Force Research Laboratory, Launch Count: 1
Customer: SpaceIL, Launch Count: 1
Customer: ORS, Launch Count: 1
Customer: Arabsat, Launch Count: 1
Customer: CSA, Launch Count: 1
Customer: NOAA, NASA, Taiwan, Launch Count: 1
Customer: Michigan Tech, Launch Count: 1
Customer: General Atomics, Launch Count: 1
Customer: Naval Postgrad School, Launch Count: 1
Customer: Georgia Tech, Launch Count: 1
Customer: Planetary Society, Launch Count: 1
Customer: University of Texas, Launch Count: 1
Customer: USAF Academy, Launch Count: 1
Customer: SRI International, Launch Count: 1
Customer: ATSB, Launch Count: 1
Customer: Naval Research Lab, Launch Count: 1
Customer: Cal Poly, Launch Count: 1
Customer: Merrit Island HS, Launch Count: 1
Customer: SKY Perfect JSAT Corporation, Kacific Broadband Satellites Pte Ltd, Launch Count: 1
Customer: South Korea, Launch Count: 1
Customer: BlackSky Global, Launch Count: 1
Customer: United States Space Force, Launch Count: 1
Customer: MDA, Launch Count: 1
Customer: National Reconnaissance Office, Launch Count: 1
Customer: NASA, NOAA, USAF, Launch Count: 1
Customer: Turkmenistan National Space Agency, Launch Count: 1
Customer: Capella Space, Launch Count: 1
Customer: Tyvak Nano-Satellite Systems Inc, NOAA, Launch Count: 1
Customer: Jared Isaacman, Launch Count: 1
Customer: NASA, ASI, Launch Count: 1
Customer: NASA, NOAA, Launch Count: 1
Customer: ESA, Launch Count: 1
Customer: Axiom Space, Launch Count: 1
Customer: USAF, National Reconnaissance Office, Launch Count: 1
Customer: Nilesat, Launch Count: 1
Customer: OHB-System, AG, Bundeswehr, Launch Count: 1
Customer: Globalstar, Launch Count: 1
Customer: KARI, Launch Count: 1
Customer: Boeing, Launch Count: 1
Customer: AST & Science, Launch Count: 1
Customer: USSF, Launch Count: 1
Customer: SKY Perfect JSAT Group, Launch Count: 1
Customer: Space Development Agency, Launch Count: 1
Customer: DigitalGlobe, Launch Count: 1

In [13]:
# Most frequently used launchpads and their success rates:

# SQL query to count launches by launchpad
query = """
SELECT 
    launchpad, 
    COUNT(*) AS launch_count,
    SUM(success) AS successful_launches,
    (SUM(success) / COUNT(*)) * 100 AS success_rate
FROM cleaned_data
GROUP BY launchpad
ORDER BY launch_count DESC;
"""

try:
    # Create a cursor object
    cursor = connection.cursor()  
    # Execute the SQL query
    cursor.execute(query)  
    # Fetch all rows from the query result
    results = cursor.fetchall()  
    
    # Print the results or process them further
    print("Launch Count by Launchpad:")
    for row in results:
        launchpad = row[0]  # Launchpad name
        launch_count = row[1]  # Total launches
        successful_launches = row[2]  # Successful launches
        success_rate = row[3]  # Success rate in percentage
        print(f"Launchpad: {launchpad}, Launch Count: {launch_count}, Successful Launches: {successful_launches}, Success Rate: {success_rate:.2f}%")
    
except Error as e:
    # Print error message if query execution fails
    print(f"Error executing query: {e}")
finally:
    # Ensure the cursor is closed after execution
    if cursor:
        cursor.close()

Launch Count by Launchpad:
Launchpad: 5e9e4501f509094ba4566f84, Launch Count: 119, Successful Launches: 117, Success Rate: 98.32%
Launchpad: 5e9e4502f509094188566f88, Launch Count: 77, Successful Launches: 77, Success Rate: 100.00%
Launchpad: 5e9e4502f509092b78566f87, Launch Count: 32, Successful Launches: 32, Success Rate: 100.00%
Launchpad: 5e9e4502f5090995de566f86, Launch Count: 6, Successful Launches: 2, Success Rate: 33.33%

In [14]:
# Analyze how customer types have changed over time:
query = """
SELECT 
    YEAR(date_utc) AS launch_year,
    customers AS customer_type,
    COUNT(*) AS total_launches
FROM cleaned_data
GROUP BY launch_year, customer_type
ORDER BY launch_year, customer_type;
"""

try:
    cursor = connection.cursor()
    cursor.execute(query)  # Execute the SQL query
    results = cursor.fetchall()  # Fetch all results

    for row in results:
        launch_year, customer_type, total_launches = row
        print(f"Year: {launch_year}, Customer Type: {customer_type}, Total Launches: {total_launches}")
except Error as e:
    print(f"Error executing query: {e}")

Year: 2006, Customer Type: DARPA, Total Launches: 1
Year: 2007, Customer Type: DARPA, Total Launches: 1
Year: 2008, Customer Type: NASA, Total Launches: 1
Year: 2008, Customer Type: ORS, Total Launches: 1
Year: 2008, Customer Type: SpaceX, Total Launches: 1
Year: 2009, Customer Type: ATSB, Total Launches: 1
Year: 2010, Customer Type: NASA(COTS), Total Launches: 1
Year: 2010, Customer Type: NRO, Total Launches: 1
Year: 2010, Customer Type: SpaceX, Total Launches: 1
Year: 2012, Customer Type: NASA (CRS), Total Launches: 1
Year: 2012, Customer Type: NASA(COTS), Total Launches: 1
Year: 2012, Customer Type: Orbcomm, Total Launches: 1
Year: 2013, Customer Type: MDA, Total Launches: 1
Year: 2013, Customer Type: NASA (CRS), Total Launches: 1
Year: 2013, Customer Type: SES, Total Launches: 1
Year: 2014, Customer Type: AsiaSat, Total Launches: 2
Year: 2014, Customer Type: NASA (CRS), Total Launches: 2
Year: 2014, Customer Type: Orbcomm, Total Launches: 1
Year: 2014, Customer Type: Thaicom, Total Launches: 1
Year: 2015, Customer Type: ABS, Total Launches: 1
Year: 2015, Customer Type: Eutelsat, Total Launches: 1
Year: 2015, Customer Type: NASA (CRS), Total Launches: 3
Year: 2015, Customer Type: NASA, NOAA, USAF, Total Launches: 1
Year: 2015, Customer Type: Orbcomm, Total Launches: 1
Year: 2015, Customer Type: Turkmenistan National Space Agency, Total Launches: 1
Year: 2016, Customer Type: ABS, Total Launches: 1
Year: 2016, Customer Type: Eutelsat, Total Launches: 1
Year: 2016, Customer Type: NASA (CRS), Total Launches: 2
Year: 2016, Customer Type: NASA, NOAA, Total Launches: 1
Year: 2016, Customer Type: SES, Total Launches: 1
Year: 2016, Customer Type: SKY Perfect JCSAT Group, Total Launches: 1
Year: 2016, Customer Type: SKY Perfect JSAT Group, Total Launches: 1
Year: 2016, Customer Type: Spacecom, Total Launches: 1
Year: 2016, Customer Type: Thaicom, Total Launches: 1
Year: 2017, Customer Type: Bulgaria Sat, Total Launches: 1
Year: 2017, Customer Type: EchoStar, Total Launches: 1
Year: 2017, Customer Type: Inmarsat, Total Launches: 1
Year: 2017, Customer Type: Intelsat, Total Launches: 1
Year: 2017, Customer Type: Iridium Communications, Total Launches: 4
Year: 2017, Customer Type: KT Corporation, Total Launches: 1
Year: 2017, Customer Type: NASA (CRS), Total Launches: 4
Year: 2017, Customer Type: NRO, Total Launches: 1
Year: 2017, Customer Type: NSPO (Taiwan), Total Launches: 1
Year: 2017, Customer Type: SES, Total Launches: 1
Year: 2017, Customer Type: SES, Echostar, Total Launches: 1
Year: 2017, Customer Type: USAF, Total Launches: 1
Year: 2018, Customer Type: Bangladesh Gov, Total Launches: 1
Year: 2018, Customer Type: CONAE, Total Launches: 1
Year: 2018, Customer Type: Es’hailSat, Total Launches: 1
Year: 2018, Customer Type: GovSat, Total Launches: 1
Year: 2018, Customer Type: HisdeSAT, Total Launches: 1
Year: 2018, Customer Type: Hispasat, Total Launches: 1
Year: 2018, Customer Type: Iridium Communications, Total Launches: 3
Year: 2018, Customer Type: NASA, Total Launches: 1
Year: 2018, Customer Type: NASA (CRS), Total Launches: 3
Year: 2018, Customer Type: NASA, DLR, Total Launches: 1
Year: 2018, Customer Type: Northrop Grumman, Total Launches: 1
Year: 2018, Customer Type: SES, Total Launches: 1
Year: 2018, Customer Type: Spaceflight Industries, Inc, Total Launches: 1
Year: 2018, Customer Type: SpaceX, Total Launches: 2
Year: 2018, Customer Type: Telesat, Total Launches: 2
Year: 2018, Customer Type: Telkom, Total Launches: 1
Year: 2018, Customer Type: USAF, Total Launches: 1
Year: 2019, Customer Type: Air Force Research Laboratory, Total Launches: 1
Year: 2019, Customer Type: Arabsat, Total Launches: 1
Year: 2019, Customer Type: Cal Poly, Total Launches: 1
Year: 2019, Customer Type: CSA, Total Launches: 1
Year: 2019, Customer Type: General Atomics, Total Launches: 1
Year: 2019, Customer Type: Georgia Tech, Total Launches: 1
Year: 2019, Customer Type: Iridium Communications, Total Launches: 1
Year: 2019, Customer Type: Merrit Island HS, Total Launches: 1
Year: 2019, Customer Type: Michigan Tech, Total Launches: 1
Year: 2019, Customer Type: NASA, Total Launches: 1
Year: 2019, Customer Type: NASA (CCtCap), Total Launches: 1
Year: 2019, Customer Type: NASA (CRS), Total Launches: 3
Year: 2019, Customer Type: Naval Postgrad School, Total Launches: 1
Year: 2019, Customer Type: Naval Research Lab, Total Launches: 1
Year: 2019, Customer Type: NOAA, NASA, Taiwan, Total Launches: 1
Year: 2019, Customer Type: Pasifik Satelit Nusantara, Total Launches: 1
Year: 2019, Customer Type: Planetary Society, Total Launches: 1
Year: 2019, Customer Type: SKY Perfect JSAT Corporation, Kacific Broadband Satellites Pte Ltd, Total Launches: 1
Year: 2019, Customer Type: Spacecom, Total Launches: 1
Year: 2019, Customer Type: SpaceIL, Total Launches: 1
Year: 2019, Customer Type: SpaceX, Total Launches: 2
Year: 2019, Customer Type: SRI International, Total Launches: 1
Year: 2019, Customer Type: University of Texas, Total Launches: 1
Year: 2019, Customer Type: US Naval Academy, Total Launches: 2
Year: 2019, Customer Type: USAF, Total Launches: 1
Year: 2019, Customer Type: USAF Academy, Total Launches: 1
Year: 2020, Customer Type: BlackSky Global, Total Launches: 1
Year: 2020, Customer Type: CONAE, Total Launches: 1
Year: 2020, Customer Type: NASA, Total Launches: 1
Year: 2020, Customer Type: NASA (CCtCap), Total Launches: 3
Year: 2020, Customer Type: NASA (CRS), Total Launches: 2
Year: 2020, Customer Type: National Reconnaissance Office, Total Launches: 1
Year: 2020, Customer Type: SiriusXM, Total Launches: 1
Year: 2020, Customer Type: South Korea, Total Launches: 1
Year: 2020, Customer Type: SpaceX, Total Launches: 14
Year: 2020, Customer Type: United States Space Force, Total Launches: 1
Year: 2020, Customer Type: USAF, Total Launches: 1
Year: 2021, Customer Type: , Total Launches: 2
Year: 2021, Customer Type: Capella Space, Total Launches: 1
Year: 2021, Customer Type: Jared Isaacman, Total Launches: 1
Year: 2021, Customer Type: NASA, Total Launches: 1
Year: 2021, Customer Type: NASA (CCtCap), Total Launches: 2
Year: 2021, Customer Type: NASA (CRS), Total Launches: 3
Year: 2021, Customer Type: NASA, ASI, Total Launches: 1
Year: 2021, Customer Type: SiriusXM, Total Launches: 1
Year: 2021, Customer Type: SpaceX, Total Launches: 17
Year: 2021, Customer Type: Turksat, Total Launches: 2
Year: 2021, Customer Type: Tyvak Nano-Satellite Systems Inc, NOAA, Total Launches: 1
Year: 2021, Customer Type: USAF, Total Launches: 1
Year: 2022, Customer Type: , Total Launches: 2
Year: 2022, Customer Type: AST & Science, Total Launches: 1
Year: 2022, Customer Type: Axiom Space, Total Launches: 1
Year: 2022, Customer Type: Boeing, Total Launches: 1
Year: 2022, Customer Type: DigitalGlobe, Total Launches: 1
Year: 2022, Customer Type: ESA, Total Launches: 1
Year: 2022, Customer Type: Globalstar, Total Launches: 1
Year: 2022, Customer Type: KARI, Total Launches: 1
Year: 2022, Customer Type: NASA (CCtCap), Total Launches: 2
Year: 2022, Customer Type: NASA (CRS), Total Launches: 1
Year: 2022, Customer Type: National Reconnaissance Office, USAF, Total Launches: 2
Year: 2022, Customer Type: Nilesat, Total Launches: 1
Year: 2022, Customer Type: OHB-System, AG, Bundeswehr, Total Launches: 1
Year: 2022, Customer Type: SES, Total Launches: 3
Year: 2022, Customer Type: Space Development Agency, Total Launches: 1
Year: 2022, Customer Type: SpaceX, Total Launches: 30
Year: 2022, Customer Type: Unknown, Total Launches: 12
Year: 2022, Customer Type: USAF, National Reconnaissance Office, Total Launches: 1
Year: 2022, Customer Type: USSF, Total Launches: 1

 ### **❓Orbit Distribution**

In [15]:
# Most common orbits:
# SQL query to count launches by orbit
query = """
SELECT 
    orbit, 
    COUNT(*) AS launch_count
FROM cleaned_data
GROUP BY orbit
ORDER BY launch_count DESC;
"""

try:
    # Create a cursor object
    cursor = connection.cursor()  
    # Execute the SQL query
    cursor.execute(query)  
    # Fetch all rows from the query result
    results = cursor.fetchall()  
    
    # Print the results or process them further
    print("Launch Count by Orbit:")
    for row in results:
        orbit = row[0]  # Orbit name
        launch_count = row[1]  # Total launches
        print(f"Orbit: {orbit}, Launch Count: {launch_count}")
    
except Error as e:
    # Print error message if query execution fails
    print(f"Error executing query: {e}")
finally:
    # Ensure the cursor is closed after execution
    if cursor:
        cursor.close()

Launch Count by Orbit:
Orbit: VLEO, Launch Count: 61
Orbit: LEO, Launch Count: 40
Orbit: GTO, Launch Count: 40
Orbit: ISS, Launch Count: 33
Orbit: PO, Launch Count: 16
Orbit: SSO, Launch Count: 15
Orbit: Unknown, Launch Count: 13
Orbit: MEO, Launch Count: 8
Orbit: GEO, Launch Count: 2
Orbit: TLI, Launch Count: 2
Orbit: ES-L1, Launch Count: 1
Orbit: HCO, Launch Count: 1
Orbit: HEO, Launch Count: 1
Orbit: SO, Launch Count: 1

 ### **❓Upcoming Launches**

In [16]:
# Number of upcoming launches:
# SQL query to count upcoming launches
query = """
SELECT 
    COUNT(*) AS upcoming_launches_count
FROM cleaned_data
WHERE upcoming = 1;
"""

try:
    # Create a cursor object
    cursor = connection.cursor()  
    # Execute the SQL query
    cursor.execute(query)  
    # Fetch the result
    result = cursor.fetchone()  
    
    # Print the result
    upcoming_launches_count = result[0]  # Access the count from the result
    print(f"Upcoming Launches Count: {upcoming_launches_count}")
    
except Error as e:
    # Print error message if query execution fails
    print(f"Error executing query: {e}")
finally:
    # Ensure the cursor is closed after execution
    if cursor:
        cursor.close()

Upcoming Launches Count: 18

 ### **❓Data Completeness and Quality**

In [18]:
# Checking for unknown values in key columns:

# SQL query to count records and unknown columns
query = """
SELECT 
    COUNT(*) AS total_records,
    COUNT(CASE WHEN name_payload = 'Unknown' THEN 1 END) AS unknown_name_payload,
    COUNT(CASE WHEN mass_kg IS NULL THEN 1 END) AS missing_mass_kg,
    COUNT(CASE WHEN type = 'Unknown' THEN 1 END) AS unknown_type,
    COUNT(CASE WHEN orbit = 'Unknown' THEN 1 END) AS unknown_orbit,
    COUNT(CASE WHEN customers= 'Unknown' THEN 1 END) AS unknown_customers,
    COUNT(CASE WHEN payloads = 'Have_no_payloads' THEN 1 END) AS unknown_payloads
FROM cleaned_data;
"""

try:
    # Create a cursor object
    cursor = connection.cursor()  
    # Execute the SQL query
    cursor.execute(query)  
    # Fetch the result
    result = cursor.fetchone()  
    
    # Print the results
    total_records = result[0]  # Total records count
    unknown_name_payload = result[1]  # Count of unknown name_payload
    missing_mass_kg = result[2]  # Count of missing mass_kg
    missing_type = result[3]  # Count of missing type
    missing_orbit = result[4]  # Count of missing orbit
    missing_customers = result[5]  # Count of missing customers
    unknown_payloads = result[6]  # Count of unknown payloads

    print("Record Counts in cleaned_data:")
    print(f"Total Records: {total_records}")
    print(f"Unknown Name Payload: {unknown_name_payload}")
    print(f"Missing Mass (kg): {missing_mass_kg}")
    print(f"Missing Type: {missing_type}")
    print(f"Missing Orbit: {missing_orbit}")
    print(f"Missing Customers: {missing_customers}")
    print(f"Unknown Payloads: {unknown_payloads}")
    
except Error as e:
    # Print error message if query execution fails
    print(f"Error executing query: {e}")
finally:
    # Ensure the cursor is closed after execution
    if cursor:
        cursor.close()

Record Counts in cleaned_data:
Total Records: 234
Unknown Name Payload: 12
Missing Mass (kg): 0
Missing Type: 12
Missing Orbit: 13
Missing Customers: 12
Unknown Payloads: 12